body
{
	/* set font style & color */
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;

	/* set margins and padding around the body area */
	margin: 150px 450px 0px 150px;  /* top margin set below header area, right set to line up with nav right side, bottom (needs to be set to allow for footer area), left set to line up with nameBox area */
	padding: 20px;

	width: 960px;

	/*background-image: url("sayagata-400px.png");*/

}


header
{
	background-color: #ffffff;  /* set background color for header area to white */
	border-bottom: 2px solid #cccccc;  /* set bottom border to 2 pixels w/ a solid border & color of gray */
	
	/* position the header to the top of the browser page */
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;

	/* make the header span the full width of the page */
	width: 98%;	

	/* add a small left & right margin to the header area */
	margin: 0px 15px;
}

h1, h2
{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

.navLinks
{
	color: #777777;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}

.nameBox
{
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 30px 50px;
	display: inline-block;
	position: relative;
	left: 150px;
	margin: 20px 0px 0px 0px;
}

.navArea
{
	
	/* position navArea to the right at the position relative to the #'s shown */
	float: right;
	position: relative;
	right: 250px;
	top: 50px;

	margin: 20px;
	/*margin-bottom: 30px;*/

	/* give the navArea box some top & bottom padding */ 
	padding: 0px 10px;

	
	
	/*font-size: 24px;*/
	/*text-align: center;*/

}

.container
{
	background-image: url('../images/sayagata-400px.png');
	
	/*background-color: #cccccc;*/

	width: 100%;

	/* min-height added to help with the sticky footer coding */
	min-height: 100%;
	/*height: 100%;*/

	/*position: relative;*/

	/* position the header to the top of the browser page */
	position: absolute;
	top: 116px;
	left: 0px;
	/*right: 0px;*/

	/* make the header span the full width of the page */
	width: 98%;	

	/* add a small left & right margin to the header area */
	margin: 0px 15px;

	/*clear: both;*/
	/*display: block;*/
	/*margin: 150px 450px 0px 150px;   top margin set below header area, right set to line up with nav right side, bottom (needs to be set to allow for footer area), left set to line up with nameBox area */
}

.mainContent
{
	float: left;
	width: 650px;

	
	/*height: 70%;*/

	/*margin: 40px 0px 112px 0px;*/
	margin: 40px 0px 100px 0px; /* add footer height (60px) plus 40px to bottom margin to have some distance between main content and footer */

	padding: 0px 30px 20px 30px;
	
	position: relative;
	left: 150px;
	/*bottom: 62px;*/

	background-color: #ffffff;  /* set background color for header area to white */

	/*background-color: #cccccc;*/

	/*margin: 5px;*/
}

.mainContentHeading
{
	background-color: #ffffff;  /* set background color for header area to white */
	border-bottom: 3px solid #cccccc;  /* set bottom border to 2 pixels w/ a solid border & color of gray */
	padding: 20px 0px;  /* add padding to the top & bottom areas */

	color: #4aaaa5;  /* set font color */

	/*position: relative;*/
	/*left: 150px;*/

	
}

#profilePic
{
	float: left;
	/*display: inline;*/
	/*margin: 0px 10px 0px 0px;*/
	margin-right: 20px;
}

p
{
	/*float: left;*/
	/*display: inline;*/
	/*margin: 10px;*/
	padding: 0px 10px;
	line-height: 150%;
	/*font-weight: bold;*/
}

.portfolioImages
{
	
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
	margin-top: 10px;

	/* set this position property to relative to make the label element class be placed relative to this element */
	position: relative;

}

.portfolioLabels
{
	color: #ffffff;
	background-color: #4aaaa5;
	text-align: center;
	padding: 15px 0px;  /* put some space around the wording (content) and the background box */
	opacity: 0.9;  /* make the label a little see through */

	/* take out the other margins set previously for the h2 elements */
	margin: 0px;

	/* set this position property to allow the label to move to a position that is relative to it's ancestor (the image section) */
	position: absolute;
	bottom: 20px;  /* put it 40px above the bottom of the ancestor element */
	width: 100%;	/* span the full width of the ancestor element */

}

.contactForm label
{
	line-height: 150%;
	/*padding: 20px 0px 20px 0px;*/
	/*margin: 20px 0px 20px 0px;*/

	
}

.contactForm input
{
	line-height: 150%;
	padding: 5px;
	margin: 2px 40px 10px 0px;
	width: 98%
}

.contactForm textarea
{
	/*line-height: 150%;*/
	/*padding: 20px 0px 20px 0px;*/
	margin: 2px 0px 10px 0px;
	width: 98%;
	height: 200px;
	overflow: auto;
}

button
{
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 15px 30px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 150%;
	border: none;
	text-align: center;
	font-size: 16px;
	
}

.socialContent
{
	float: right;
	width: 270px;

	margin: 40px 0px 40px 0px;

	padding: 0px 20px 20px 20px;

	/*padding: 20px;*/

	position: relative;
	right: 250px;
	/*top: 50px;*/

	background-color: #ffffff;  /* set background color for header area to white */

}

.socialImages
{
	padding: 0px;
	margin: 0px;
}

.socialContentHeading
{
	text-align: center;
	font-size: 110%;
	border-bottom: 2px solid #cccccc;  /* set bottom border to 2 pixels w/ a solid border & color of gray */
	/*padding: 0px 20px 20px 20px;*/
	padding-bottom: 20px;

	/*width: 100%;*/

}

#stackOverflowIcon
{
	margin-bottom: 5px;
}

.contactInfo
{
	text-align: center;
	margin: 5px 0px;
}

a.socialImages
{
	/*padding: 0px;*/
}

img.socialImages
{
	/*margin-right: 0px;*/
}


footer
{
	/* clear float left & right properties */
	clear: both;


	text-align: center;
	font-size: 70%;
	color: #cccccc;
	
	border-top: 10px solid #4aaaa5;  /* set bottom border to 2 pixels w/ a solid border & color of teal */
	padding: 20px 0px;

	background-color: #777777;

	/*width: 100%;*/



	/* position the header to the top of the browser page */
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;

	/* make the header span the full width of the page */
	width: 98%;	

	/* add a small left & right margin to the header area */
	margin: 0px 15px;
	/*margin: 60px 15px 0px 15px;*/
}